*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Segoe UI", "Trebuchet MS", Arial, sans-serif;
}

body {
    background: var(--bg, #f0f4f8);
    color: var(--txt, #1a202c);
    display: flex;
}

.text-right {
    text-align: right;
}
